form {
    text-align: right;
    padding: 10px 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    background: #37474f;
    width: 40%;
    color: #fff;
}
form input {
    padding: 5px 10px;
}

form #author {

}